@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

:root{
    --color-primary:#31955f;
    --color-secondary: #ee1f25;
    --header-bg: #d3dddd;
    --font-color: #ffffff;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.section__medicine__title {
    padding-top: 2rem;
    text-align: left;
    margin-left: 2rem;
    font-size: 1.3rem; 
}

.article__card {
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 1px 20px 0px #d7d6d6; 
    border-radius: 10px;
    padding-bottom: 2rem;
    border: 1px solid var(--header-bg);
}
.card-icon { 
    width: 100%;
    display: flex;
    justify-content: end;
}
.card-icon button {
    border: none;
    background-color:#1cb2cd;
    background-color: transparent;
    width: 6rem;
    height: 4rem;
}
#img-card{
    width: 7rem;
}
.div-card-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.card-button {
    border: none;
    background-color:#1f32dd;
    padding: .6rem;
    width: 80%;
    border-radius: 20px;
    color: var(--font-color);
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;  
    cursor: pointer;  
}
.card-button:hover {
    background-color:#1cb2cd;
}
.section__medicine__button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-left: 46%;
    background-color: var(--header-bg); 
}