:root{
    --color-primary:#31955f;
    --color-secondary: #ee1f25;
    --header-bg: #d3dddd;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.navbar-nav {
    font-weight: 500;
}
.navbar-nav a:hover {
    font-weight: bold; 
    color: var(--color-secondary);
}
.navbar-nav a:active{
    color: var(--color-primary);
}

